<div class="paper-card">
  <div class="paper-img">
    <img src="{{ include.img }}" alt="">
    {% if include.status %}
      <span class="paper-tag">{{ include.status }}</span>
    {% endif %}
  </div>

  <div class="paper-content">
    <span class="paper-title"><b>{{ include.title }}</b></span>

    <p>
      {{ include.authors_html }}<br>
      <span class="paper-links">
        {% if include.page %}<a href="{{ include.page }}" target="_blank" rel="noopener"><b>[Page]</b></a>{% endif %}
        {% if include.code %}<a href="{{ include.code }}" target="_blank" rel="noopener"><b>[Code]</b></a>{% endif %}
        {% if include.dataset %}<a href="{{ include.dataset }}" target="_blank" rel="noopener"><b>[Dataset]</b></a>{% endif %}
        {% if include.paper %}<a href="{{ include.paper }}" target="_blank" rel="noopener"><b>[Paper]</b></a>{% endif %}
      </span>
    </p>

    {% if include.keywords %}
    <div class="paper-keywords" style="margin-top:6px;">
      {% for k in include.keywords %}
        <span class="keyword {{ k.color }}"><strong>{{ k.text }}</strong></span>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>